################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/OrleansTest(My First Orleans Application)/packages
/OrleansTest(Minimal Orleans Application)/packages
/.vs
/OrleansTest(My First Orleans Application)/.vs/OrleansTest/v15/sqlite3
/OrleansTest(Minimal Orleans Application)/.vs/OrleansTest/v15
