################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/OrleansTest(My First Orleans Application)/packages
/OrleansTest(Minimal Orleans Application)/packages
/.vs
/OrleansTest(My First Orleans Application)/.vs/OrleansTest/v15/sqlite3
/OrleansTest(Minimal Orleans Application)/.vs/OrleansTest/v15
/2.Minimal Orleans Application/.vs/OrleansTest/v15
/3.Client/.vs/OrleansTest/v15
/3.Client/packages
/3.Client/Host/bin
/3.Client/Host/obj
/3.Client/HelloGrains/obj
/3.Client/HelloGrains/bin
/3.Client/Client/bin
/3.Client/GrainInterfaces/bin
/2.Minimal Orleans Application/Host/bin
/2.Minimal Orleans Application/GrainCollection/bin
/2.Minimal Orleans Application/GrainInterfaces/bin
/1.My First Orleans Application/GrainInterfaces/bin/Debug
/1.My First Orleans Application/GrainInterfaces/obj/Debug
/1.My First Orleans Application/HelloGrains/bin/Debug
/1.My First Orleans Application/HelloGrains/obj/Debug
/1.My First Orleans Application/Host/bin/Debug
/1.My First Orleans Application/Host/obj/Debug
/2.Minimal Orleans Application/GrainCollection/obj
/2.Minimal Orleans Application/GrainInterfaces/obj
/2.Minimal Orleans Application/Host/obj
/3.Client/Client/obj
/3.Client/GrainInterfaces/obj
/3.Client/Host/SiloHostConfiguration.xml
/4.Orleans2/MySiloHost/bin
/4.Orleans2/MySiloHost/obj
/4.Orleans2/MyClient/bin
/4.Orleans2/MyClient/obj
/4.Orleans2/GrainInterfaces/bin
/4.Orleans2/GrainInterfaces/obj
/4.Orleans2/GrainImplement/bin
/4.Orleans2/GrainImplement/obj